$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$input-backcolor: #EAEAEA;
$backcolor: #F6F6F6;
$naviconcolor: #7E7E7E;
$footercolor: #353535;

$breakpoints: (
    desktop: 1300px,
    pad-max: 1299px,
    pad-min: 760px,
    mobile: 759px 
);

@mixin font{
    font-family: 'roboto', sans-serif;
}

@mixin fontlogo{
    font-family: 'Shrikhand', cursive;
}

@mixin mobile-only{
    @media (max-width: map-get($breakpoints, mobile)){
        @content;
    }
}

@mixin pad-only{
    @media (min-width: map-get($breakpoints, pad-min)) and (max-width: map-get($breakpoints, pad-max)){
        @content;
    }   
}

@mixin desktop-only{
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}

body{
    margin: 0px;
}

a{
    text-decoration: none;
    color: black;
}

.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    &--img{
        width: 165px;
        margin: 20px 0px 10px 0px;
    }
    &--input{
        width: 100%;
        height: 50px;
        background-color: $input-backcolor;
        box-shadow: inset 0 2px 5px darken($color: $input-backcolor, $amount: 12%);
        display: flex;
        align-items: center;
        justify-content: center;
        &field{
            border: none;
            background-color: $input-backcolor;
            padding-left: 10px;
            cursor: pointer;
        }
    }
    
}

.fas.fa-map-marker-alt{
    padding: 0px 20px 0px 55px;
}

::placeholder{
    @include font();
    color: black;
    font-size: 12px;
    font-weight: bold;
}

.presentation{
    width: 100%;
    height: 230px;
    background-color: $backcolor;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile-only(){
        height: 288px;
    }
    &--title{
        @include font();
        font-size: 24px;
        text-align: center;
        margin: 35px 0px 0px 0px;
        @include mobile-only(){
            width: 250px;
        }
    }
    &--article{
        @include font();
        font-size: 16px;
        text-align: center;
        width: 300px;
        margin: 10px 0px 30px 0px;
    }
    &--button{
        @include font();
        font-size: 14px;
        width: 220px;
        height: 50px;
        cursor: pointer;
        background: linear-gradient($secondary, $primary);
        color: white;
        border: 1px hidden;
        border-radius: 25px 25px 25px 25px;
        box-shadow: 0 2px 5px darken($color: $input-backcolor, $amount: 20%);
        &:hover{
            box-shadow: 0 4px 5px darken($color: $input-backcolor, $amount: 40%);
            background: linear-gradient(lighten($color: $secondary, $amount: 5%), lighten($color: $primary, $amount: 5%));
        }
    }
}

.nav{
    height: 180px;
    margin-top: 45px;
    @include mobile-only(){
        height: 370px;
        margin-left: 20px;
    }
    &--title{
        @include font();
        font-size: 20px;
        margin: 0px;
        @include pad-only(){
            display: flex;
            justify-content: center;
        }
        @include desktop-only(){
            display: flex;
            justify-content: center;
        }
    }
    &--bars{
        @include pad-only(){
            display: flex; 
        }
        @include desktop-only(){
            display: flex;
        }
    }
    &--bar{
        display: flex;
        width: 31%;
        height: 72px;
        cursor: pointer;
        margin: 25px 10px 0px 20px;
        background-color: $backcolor;
        border: 1px hidden;
        border-radius: 18px 18px 18px 18px;
        box-shadow: 0 2px 5px darken($color: $input-backcolor, $amount: 20%);
        align-items: center;
        @include mobile-only(){
            width: 90%;
            margin: 25px 0px 0px 12px;
        }
        &number{
            @include font();
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            width: 25px;
            height: 25px;
            background-color: $primary;
            border: 1px hidden;
            border-radius: 13px 13px 13px 13px;
            margin-left: -12px;
        }
        &text{
            @include font();
            font-size: 16px;
            margin-left: 25px;
        }
        &:hover{
            background-color: lighten($color: $primary, $amount: 35%);
            box-shadow: 0 4px 5px darken($color: $input-backcolor, $amount: 40%);
            &>i{
                color: $primary;
            }
        }
    }
}

.fas.fa-list-ul, .fas.fa-mobile-alt, .fas.fa-store{
    font-size: 20px;
    margin-left: 15px;
    color: $naviconcolor;
    @include mobile-only(){
        margin-left: 20px;
    }
}

.section{
    height: 400px;
    background-color: $backcolor;
    @include pad-only(){
        height: 700px;
    }
    @include mobile-only(){
        height: 1225px;
        background-color: $backcolor;
    }
    &--title{
        @include font();
        font-size: 20px;
        margin: 0px;
        padding: 50px 0px 25px 0px;
        @include pad-only(){
            display: flex;
            justify-content: center;
        }
        @include desktop-only(){
            display: flex;
            justify-content: center;
        }
        @include mobile-only(){
            margin-left: 20px;
            padding: 55px 0px 25px 0px;
        }
    }
}

.restaurant{
    @include pad-only(){
        display: flex;
        justify-content: space-around;
        &--1, &--2{
            width: 45%;
        }
    }
    @include desktop-only(){
        display: flex;
        justify-content: space-around;
        &--1, &--2{
            display: flex;
            justify-content: space-around;
            width: 50%;
        }
    }
    @include mobile-only(){
        margin-left: 20px;
    }
    &--cards{
        height: 250px;
        background-color: white;
        border: 1px hidden;
        border-radius: 12px 12px 12px 12px;
        margin-bottom: 15px;
        box-shadow: 0 2px 5px darken($color: $input-backcolor, $amount: 20%);
        &:hover{
            box-shadow: 0 4px 5px darken($color: $input-backcolor, $amount: 40%);
        }
        @include desktop-only(){
            width: 45%;
        }
        @include mobile-only(){
            width: 94%;
        }
    }
}

.card{
    &--img{
        width: 100%;
        height: 175px;
        border-radius: 12px 12px 0px 0px;
        object-fit: cover;
    }
    &--new{
        display: flex;
        justify-content: center;
        align-items: center;
        @include font();
        text-align: center;
        width: 80px;
        height: 30px;
        background-color: $tertiary;
        color: darken($color: $tertiary, $amount: 30%);
        position: relative;
        left: 70%;
        top: -165px;   
    }
    &--title{
        @include font();
        font-size: 18px;
        margin-left: 15px;
        position: relative;
        top: -40px;
    }
    &--location{
        @include font();
        font-size: 16px;
        margin-left: 15px;
        position: relative;
        top: -55px;
    }
    &--icon{
        font-size: 18px;
        position: relative;
        left: 85%;
        top: -110px;
    }
}

.fas.fa-heart{
    font-size: 18px;
    visibility: hidden;
}        

.footer{
    height: 150px;
    background-color: $footercolor;
    @include mobile-only(){
        height: 200px;
    }
    &--logo{
        @include fontlogo();
        font-size: 18px;
        margin: 0px;
        padding-top: 25px;
        color: white;
        @include pad-only(){
            display: flex;
            justify-content: center;
        }
        @include desktop-only(){
            display: flex;
            justify-content: center;
        }
        @include mobile-only(){
            margin-left: 25px;
        }
    }
    &--link1{
        @include font();
        display: flex;
        align-items: center;
        margin: 10px 0px 0px 0px;
        color: white;
        @include mobile-only(){
            margin-left: 25px;
        }
        &>p{
            margin: 0px 0px 0px 15px; 
        }
    }
    &--link2{
        @include font();
        display: flex;
        align-items: center;
        margin: 10px 0px 0px 0px;
        color: white;
        @include mobile-only(){
            margin-left: 25px;
        }
        &>p{
            margin: 0px 0px 0px 15px;
        }
    }
    &--link3{
        @include font();
        color: white;
        &>p{
            margin: 10px 0px 0px 15px;
            @include mobile-only(){
                margin-left: 25px;
            }
        }
    }
    &--link4{
        @include font();
        color: white;
        &>p{
            margin: 10px 0px 0px 15px;
            @include mobile-only(){
                margin-left: 25px;
            }
        }
    }
    @include pad-only(){
        &--links{
            display: flex;
            justify-content: space-around;
            margin-top: 15px;
        }
    }
    @include desktop-only(){
        &--links{
            display: flex;
            justify-content: space-around;
            margin-top: 15px;
        }
    }
}